@charset "utf-8";
/* CSS Document */

.breadcrumb {
  padding: 15px 0;
  margin:0;
  list-style: none;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.breadcrumb > li > .divider {
  padding: 0 5px;
  color: #000;
}

.breadcrumb > .active {
  color: #333;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.breadcrumb a { color:#000}
