@charset "utf-8";
/* CSS Document */
.pager {
  margin:0;
  padding:0;
  text-align: center;
  list-style: none;
  *zoom: 1;
  font-size: 0;
  line-height: 0;
}

.pager:before,
.pager:after {
  display: table;
  line-height: 0;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline-block;
  font-size: 14px;
  line-height: 100%;
  margin: 0 5px;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: default;
  background-color: #fff;
  border-color:#ddd;
}
@media only screen and (max-width:767px){
  .pager li a {margin-bottom: 10px}
}